[Unit]
Description=Adafruit PiTFT NanoScreen Service
DefaultDependencies=no
Requires=systemd-udevd.service
After=systemd-udevd.service
Before=shutdown.target
Conflicts=shutdown.target

[Service]
Type=simple
ExecStart=/usr/local/bin/nanoscreen

[Install]
WantedBy = sysinit.target
